@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, welcome to the Sorting Algorithms Visualizer</h1>
<p>Click on the "Sorting Visualizer" link in the navigation bar to get started. There you will find a variety of common sorting algorithms to test out.</p>
<p>Below is the list of sorting algorithms you can find:</p>
<ol>
    <li><a href="https://code-maze.com/csharp-bubble-sort/">Bubble Sort</a></li>
    <li><a href="https://code-maze.com/csharp-selection-sort/">Selection Sort</a></li>
    <li><a href="https://code-maze.com/insertion-sort-csharp/">Insertion Sort</a></li>
    <li><a href="https://tutorials.eu/merge-sort-in-c/">Merge Sort</a></li>
    <li><a href="https://code-maze.com/csharp-quicksort-algorithm/">Quick Sort</a></li>
<li><a href="">Heap Sort</a></li>
<li><a href="">Radix Sort</a></li>
<li><a href="">Counting Sort</a></li>
<li><a href="">Bucket Sort</a></li>
</ol>
